<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LtUpvoteBundleTest page</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/ltupvote/css/lt-upvote.css') }}">
    <style>
        body {
            padding: 10px;
        }
        h1 {
            font-size: 16px;
        }

        p {
            margin: 11px;
        }

        div.test-container {
            border: 1px solid lightgray;
            margin-bottom: 5px;
        }

        div.test-contents {
            display: inline-block;
            vertical-align: middle;
            color: #2e6da4;
            font-size: 18px
        }
    </style>
</head>
<body>

<h1 class="test-header">LtUpvoteBundle test page</h1>

<div class="test-container">

    {{ render(
        controller(
            'lt_upvote_bundle.controller.default:renderUpvote',
            {
                'subjectId': 1,
                'subjectType': 'testPost1',
            }
        )
    ) }}

    <div class="test-contents">Your main focus for today</div>

</div>

<div class="test-container">
    {{ render(
        controller(
            'lt_upvote_bundle.controller.default:renderUpvote',
            {
                'subjectId': 2,
                'subjectType': 'testPost2',
            }
        )
    ) }}
    <div class="test-contents">Upvote only!</div>
</div>

<div class="test-container">
    {{ render(
        controller(
            'lt_upvote_bundle.controller.default:renderUpvote',
            {
                'subjectId': 1,
                'subjectType': 'testPost3',
            }
        )
    ) }}
    <div class="test-contents">Log in to downvote</div>
</div>

{{ render(
    controller(
        'lt_upvote_bundle.controller.default:renderUpvote',
        {
            'subjectId': 2,
            'subjectType': 'comment',
            'class': 'style1'
        }
    )
) }} Was this helpful?

<script src="{{asset('/bundles/ltupvote/js/lt-upvote.js')}}"></script>
<script language="JavaScript"><!--
    ltupvote.init();
    //-->
</script>

<script language="JavaScript"><!--
    addEventListener('ltu', function(event) {
        console.log(event.detail);
    })
    //-->
</script>


</body>
</html>





