<div class="ltu">
    <div>
        <input type="checkbox" id="ltu-checkbox-upvote-{{ type }}-{{ id }}" class="ltu-hidden ltu-upvote">
        <label for="ltu-checkbox-upvote-{{ type }}-{{ id }}" class="ltu-upvote"></label>
    </div>
    <span class="ltu-counter" data-ltu-type="{{ type }}" data-ltu-id="{{ id }}">{{ total }}</span>
    <div>
        <input type="checkbox" id="ltu-checkbox-downvote-{{ type }}-{{ id }}" class="ltu-hidden ltu-downvote">
        <label for="ltu-checkbox-downvote-{{ type }}-{{ id }}" class="ltu-downvote"></label>
    </div>
</div>
